* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --font-logo: "Leckerli One", sans-serif;
  --font-p: "Open sans", sans-serif;
  --font-header-form: "Baloo 2", sans-serif;
  --text-logo: 400 2rem/1 var(--font-logo);
  --text-p: 300 1rem/1 var(--font-p);
  --text-form: 700 1.75rem/1 var(--font-header-form);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.mtop {
  margin-top: 48px;
}

.gap-1 {
  gap: 1rem;
}
