.radio-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    background-color: var(--shape-hover);
    width: 100%;
    border-radius: 6px;
  }

  &:has(:checked) {
    background-color: var(--shape-hover);
    border-radius: 8px;
  }
}
.radio-flex {
  display: flex;
  justify-content: space-around;
  border: 0.8px solid var(--input-stroke);
  border-radius: 8px;
  padding: 5px;
  gap: 4px;
}
