.radio-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    background-color: var(--shape-hover);
    width: 100%;
    border-radius: 6px;
  }

  &:has(:checked) {
    background-color: var(--shape-hover);
    border-radius: 8px;
  }
}
.radio-flex {
  display: flex;
  justify-content: space-around;
  border: 0.8px solid var(--input-stroke);
  border-radius: 8px;
  padding: 5px;
  gap: 4px;
}

/* área das imagens */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  & label.lbl-card {
    cursor: pointer;
    margin: 0;
  }
  & input[type="radio"] {
    display: none;
  }

  & img {
    border: 2px solid transparent;
    transition: border 0.3s;
  }
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2px 2px 6px;
  width: 134px;
  height: 103px;
  background: var(--shape-button);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;

  & label {
    font: var(--text-p);
    text-align: center;
  }
  &:has(:checked) {
    border: 2px solid var(--brand-light);
    padding: 0;
  }
}
/* área das cores */
.colors {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;

  & label.lbl-color {
    cursor: pointer;
    margin: 0;
  }
  & input[type="radio"] {
    display: none;
  }
}
.card-colors {
  &:has(:checked) {
    border: 1px solid var(--brand-light);
    padding: 0;
    border-radius: 20px;
  }
}
