/* .cards-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
} */

.separador {
  margin-top: 28px;
}
.separador-2 {
  margin-top: 12px;
}
.dropzone {
  display: flex;
  align-items: center;
  font: var(--text-p);
  color: var(--input-placeholder);
  position: relative;
  gap: 12px;

  & input {
    position: absolute;
    width: 100%;
    opacity: 0;
  }

  & .bt-drop {
    display: flex;
    background-color: var(--shape-button);
    border-radius: 8px;
    gap: 8px;
    padding: 9px 12px;
    font: 300 0.875rem/1 var(--font-header-form);
    color: var(--text-heading);
  }
}
